rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAllowed() {
      return request.auth != null && request.auth.token.email in [
        'contatogsfilmes@gmail.com'
      ];
    }

    match /trec-social-radar/{doc} {
      allow read, write: if isAllowed();
    }
  }
}
